﻿<div class="jumbotron text-center">
    <span ng-init="importHappiness()"></span>
    <h3>Your Latest Happiness Rating: {{lastScore}}</h3>

    <br/><br/>

    <h3>{{averageHappiness}} is your average happiness in the last {{totalAttemptsAtHappiness}} attempts at happiness.</h3>
</div>
