﻿<div class="jumbotron text-center">
    <h1>Rate Your Happiness or View your current happiness</h1>

    <a ui-sref=".rateHappiness" class="btn btn-primary">Rate Happiness</a>
    <a ui-sref=".averageHappiness" class="btn btn-danger">Average Happiness</a>
</div>
<div ui-view></div>