<div class="jumbotron text-center">
    <h1>Track Your Happiness</h1>
    <p>How happy are you?</p>
    
    <a ui-sref=".why" class="btn btn-primary">Why?</a>
    <a ui-sref=".what" class="btn btn-danger">Whyfore?</a>
	<a ui-sref=".reason" class="btn btn-danger">Reason?</a>
</div>

<div ui-view></div>