<h3><span class="bold">Your Lowest Happiness Rating:</span> {{minHappiness}}</h3>
<h3><span class="bold">Your Highest Happiness Rating:</span> {{maxHappiness}}</h3>
<h3><span class="bold">Current Mood:</span> {{mood}}</h3>
<h3><span class="bold">Above(+)/Below(-) Average Happiness?</span> {{differenceInHappiness}}</h3>