<style type="text/css">
    .bold {
        font-weight: bolder;
    }

    .errorMessage {
        font-weight: bolder;
        color: red;
    }
</style>
<div class="jumbotron text-center">
    <h1>Your Overall Levels of Happiness</h1>

    <div ui-view></div>
</div>