<style type="text/css">
    input {
        width: 60px;
        height: 50px;
        text-align: center;
    }
</style>

<div class="jumbotron text-center">
    <form ng-submit="incrementAttempts(); setScores();">
        <h1>Rate Your Happiness</h1>
        <p>How happy are you?</p>

        <input min="1" max="10" type="number" value="1" ng-model="recentScore.value" />

        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        <p>{{message}}</p>
    </form>
</div>